.find {
    color: red;
}

.highlight{
    background-color: green;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
}
.content{
    position: relative;
    margin-top:64px;    
}